﻿@model  Analizador_BP.Models.LoginModel

<div class="fixed-top">
    <div style="background:#ffffff">

        <div class="row">
            <div class="col-md-4">
                <img width="254" height="63" src="~/Images/logo_Coppel.png" />
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 col-md-offset-1">
                <label style="padding-top:30px; text-align :left; vertical-align:middle">¡Hola, buen día!</label>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Inicio de sesión</a>

    </nav>

</div>

<div class="">
    <center>
        <div class="card  mb-3" style="max-width: 20rem;">
            <div class="card-header"><h1>BIENVENIDO</h1></div>
            <div class="card-body">
                @using (Html.BeginForm("validacionDatosLogin", "Login"))
                {
                    @Html.LabelFor(m => m.Usuario)
                    @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Usuario, null, new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(m => m.Contraseña)
                    @Html.TextBoxFor(m => m.Contraseña, new { @class = "form-control", @type = "password" })
                    @Html.ValidationMessageFor(m => m.Contraseña, null, new { @class = "text-danger" })
                    <br />
                    <button type="submit" class="btn btn-info" id="btnEntrar" style="max-width:100px" onclick="@("window.location.href='" + Url.Action("validacionDatosLogin", "Login") + "'");">Entrar</button>
                    <div>
                        <span style="color:brown">
                            @ViewBag.message
                        </span>
                    </div>
                }
            </div>
        </div>
    </center>
</div>



