﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        
    </style>
</head>
<body>
    <div class="fixed-top">
        <div style="background:#ffffff">

            <div class="row">
                <div class="col-md-4">
                    <img width="254" height="63" src="~/Images/logo_Coppel.png" />
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4 col-md-offset-1">
                    <label style="padding-top:30px; text-align :left; vertical-align:middle">¡Hola! @Session["sesionNombre"]</label>
                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="@Url.Action("Index", "Analizador")">Analizador de Código Estático</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Analizador")">Analizador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "DLLs")">Plugins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Logs")">Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Usuario")">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Aplicacion")">Aplicaciones</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="@Url.Action("Index", "Login")">Salir</a>
            </form>
        </nav>

    </div>

    <br /><br /> <br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; BluePrint</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>

<script>
     function MostrarLoader() {      
         document.getElementById("id_Loader").style.display = "block";
         document.getElementById("id_Loader").style.position = "fixed";
         document.getElementById("id_Loader").style.left = "0px";
         document.getElementById("id_Loader").style.top = "0px";
         document.getElementById("id_Loader").style.width = "100%";
         document.getElementById("id_Loader").style.height = "100%";
         document.getElementById("id_Loader").style.zIndex = "9999";
         document.getElementById("id_Loader").style.background = "url('../Images/Loader.gif') 50% 50% no-repeat rgb(249,249,249)";
         document.getElementById("id_Loader").style.opacity = ".8";

    }
    function OcultarLoader() {
        document.getElementById("id_Loader").style.display = "none";
        document.getElementById("id_Loader").style.position = "";  
    }

    function MostrarOcultar() {
        if (document.getElementById("MostarOcultar").style.display == "block") {
            document.getElementById("MostarOcultar").style.display = "none";
        }
        else {
            document.getElementById("MostarOcultar").style.display = "block"
        }
    }
    function MostrarOcultar2() {
        if (document.getElementById("MostarOcultar2").style.display == "block") {
            document.getElementById("MostarOcultar2").style.display = "none";
        }
        else {
            document.getElementById("MostarOcultar2").style.display = "block"
        }
    }

</script>

