﻿@model  Analizador_BP.Models.UsuarioModel
@{
    ViewBag.Title = "Usuarios";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Scroll.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <div class="card" style="width:100%">
            <h3 class="card-header">Usuarios</h3>
            <div class="card-footer text-muted">
                Administración de usuarios
            </div>
            <div class="card-body">
                <div class="card border-primary mb-3" style="width: 100%;display:block;" id="createUser">
                    <div class="card-header"><b>Nuevo Usuario</b></div>
                    <div class="card-body">
                        <div>
                            @using (Html.BeginForm("AgregarUsuario", "Usuario"))
                            {
                                <table width="100%">

                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Nombre)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">@Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Usuario)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">@Html.ValidationMessageFor(m => m.Usuario, null, new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Password)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr><td height="10px"></td></tr>
                                    <tr>
                                        <td align="right"><button type="submit" style="width:350px" id="btnguardar" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("AgregarUsuario","Usuario")+ "'");">Guardar</button></td>
                                        <td></td>
                                        <td>
                                            <button type="button" style="width:350px" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("Index","Usuario")+ "'");">Cancelar</button>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


