﻿@model Analizador_BP.Models.UsuarioModel
<div id="div1" class="scrollbar scrollbar-primary">
    <div id="div2" class="force-overflow">
        <table class="table" style="height:50px;" id="tablaUsuario">
            <tbody>
                @{
                    foreach (System.Xml.XmlNode proc in Model.DetalleXML.DocumentElement.SelectSingleNode("Usuarios").SelectNodes("row"))
                    {
                        <tr>
                            <th scope="row" style="width:370px; max-width:370px">@proc.Attributes["nombre"].Value.ToString()</th>
                            <td style="width:400px; max-width:400px">@proc.Attributes["usuario"].Value.ToString()</td>
                            <td style="width:400px; max-width:400px">@proc.Attributes["estatus"].Value.ToString()</td>
                            <td style="width:200px; max-width:200px">

                                <button type="button" style="background-color:transparent; border-color:transparent;" title="Click para editar al usuario: @proc.Attributes["nombre"].Value.ToString()"
                                        onclick="EditUserForm('@proc.Attributes["nombre"].Value.ToString()',
                                                          '@proc.Attributes["usuario"].Value.ToString()',
                                                          '@proc.Attributes["pass"].Value.ToString()',
                                                           @proc.Attributes["Id_Usuario"].Value.ToString())">
                                    <img src="~/Images/edit.ico" height="25" />
                                </button>
                            </td>
                            <td style="width:200px; max-width:200px">
                                <button type="button" style="background-color:transparent; border-color:transparent;" id="btnIdRemove" 
                                        onclick="EliminarUser('@proc.Attributes["nombre"].Value.ToString()',@proc.Attributes["Id_Usuario"].Value.ToString(), '@proc.Attributes["nombre"].Value.ToString()')"
                                        title="Click para eliminar al usuario: @proc.Attributes["nombre"].Value.ToString()">
                                    <img src="~/Images/remove.ico" height="25" />
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

