﻿@model  Analizador_BP.Models.UsuarioModel
@{
    ViewBag.Title = "Usuarios";
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Scroll.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
</head>
<body>
    
    <div id="id_Loader" class="loader"></div>
    <div class="row">
        <div class="card" style="width:100%">
            <h3 class="card-header" style="text-align:center">Usuarios</h3>
            <div class="card-footer text-muted" onclick="MostrarOcultar()">
                Administración de usuarios (click para ver)
            </div>
            <div class="card-body" id="MostarOcultar" style="display:none">
                <div class="card border-primary mb-3" style="width:100%;display:block;" id="btnAgregar">
                    <div class="card-header"><b>1. Agregar usuario.</b></div>
                    <div class="card-body" style="align-items:center">
                        <table align="center">
                            <tr>
                                <td><button type="button" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("AgregarPantalla","Usuario")+ "'");" " style="width: 400px">Agregar</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="width:100%;display:none;" id="updateUser">
                    <div class="card-header"><b>Modificar Usuario</b> </div>
                    <div class="card-body">
                        <div>
                            @using (Html.BeginForm("ModificarUsuario", "Usuario"))
                            {
                                <table border="0" width="100%">

                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Nombre)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @id = "nombreUpdate" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">
                                            @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "text-danger" })
                                            @Html.HiddenFor(m => m.IdUsuario, new { @class = "form-control", @id = "IdUsuario" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Usuario)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @id = "usuarioUpdate" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">@Html.ValidationMessageFor(m => m.Usuario, null, new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td align="right">@Html.LabelFor(m => m.Password)</td>
                                        <td width="60px"></td>
                                        <td>@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @id = "passwordUpdate" })</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td align="left">@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })</td>
                                    </tr>
                                    <tr>
                                        <td height="10px"></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><button type="submit" style="width:350px" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("ModificarUsuario","Usuario")+ "'");">Actualizar</button></td>
                                        <td></td>
                                        <td><button type="button" style="width:350px" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("Index","Usuario")+ "'");">Cancelar</button></td>
                                    </tr>
                                </table>

                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted" id="divResult">
                Usuarios registrados.
            </div>
            <div class="card-body" id="tablaUsuarios" style="display:block">
                <table class="table" style="height:50px; margin-bottom: 0rem;">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" style="width:400px; max-width:400px">Nombre</th>
                            <th scope="col" style="width:400px; max-width:400px">Usuario</th>
                            <th scope="col" style="width:400px; max-width:400px">Estatus</th>
                            <th scope="col" style="width:200px; max-width:200px">Editar</th>
                            <th scope="col" style="width:200px; max-width:200px">Eliminar</th>
                        </tr>
                    </thead>
                </table>
                <div id="divdet">
                    @{
                        Html.RenderPartial("Detalle");
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><img id="imgModal" width="50" height="50" /></td>
                            <td width="10%"></td>
                            <td><label id="lblLibreriaModal"></label></td>
                        </tr>
                    </table>
                    <br />
                    <div style="text-align:right">
                        <button type="button" class="btn btn-info" id="eliminar" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger" id="canceleliminar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ModalSucess">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><img id="imgModalS" width="50" height="50" /></td>
                            <td width="10%"></td>
                            <td><label id="lblLibreriaModalS"></label></td>
                        </tr>
                    </table>
                    <br />
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.message == "Campos Agregar")
    {
        <script type="text/javascript">
            document.getElementById('btnAgregar').style.display = "none";
        </script>
    }

    @if (ViewBag.message == "Campos Requeridos")
    {
        <script type="text/javascript">
            document.getElementById('updateUser').style.display = "block";
            document.getElementById('tablaUsuarios').style.display = "none";
            document.getElementById('btnAgregar').style.display = "none";
        </script>
    }

    @if (ViewBag.message == "Exitoso")
    {
        <script type="text/javascript">
            document.getElementById('updateUser').style.display = "none";
        </script>
    }
</body>
</html>

<script>

    function EditUserForm(nombre, usuario, password, idUsr) {
        MostrarLoader();
        document.getElementById("IdUsuario").value = idUsr;
        document.getElementById("nombreUpdate").value = nombre;
        document.getElementById("usuarioUpdate").value = usuario;
        document.getElementById("passwordUpdate").value = password;
        document.getElementById('updateUser').style.display = "block";
        document.getElementById('btnAgregar').style.display = "none";
        document.getElementById('tablaUsuarios').style.display = "none";
        MostrarOcultar();
        document.getElementById('divResult').style.display = "none";
        OcultarLoader();
    }

    function EliminarUser(nombre, idUsr, nombre) {
      
        if (idUsr != @Session["idUsuario"]) {
            $('#lblLibreriaModal').text("¿Eliminar usuario " + nombre + " ?");
            $("#imgModal").attr("src", "../Images/icono_eliminar.png");

            $('#Modal').modal('show');

            $("#eliminar").click(function () {
                MostrarLoader();
                RemoveUser(idUsr, nombre);
                $('#lblLibreriaModalS').text("Usuario eliminado correctamente");
                $("#imgModalS").attr("src", "../Images/icono_listo.png");
                $('#ModalSucess').modal('show');
            });

            $("#canceleliminar").click(function () {
                $('#Modal').modal('hide');
            });
        }
        else {
            $('#lblLibreriaModalS').text("No puedes eliminar tu usuario.");
            $("#imgModalS").attr("src", "../Images/alerta-amarillo.png");
            $('#ModalSucess').modal('show');
        }

        


    }

    function RemoveUser(idUsr, _nombre) {
        $.ajax({
            type: "POST",
            url: "/Usuario/EliminarUsuario",
            data: { idUsuario: idUsr, nombre : _nombre },
            success: function (viewHTML) {               
                $("#divdet").html(viewHTML);                
                OcultarLoader();
            },
            error: function (errorData) {
            }
        });
    }
</script>

