﻿
@model  Analizador_BP.Models.DLLsModel

<div id="div1" class="scrollbar scrollbar-primary">
    <div id="div2" class="force-overflow">
        <table class="table" style="height:50px;">

            <tbody>
                @{
                    string Nombre = string.Empty;
                    foreach (System.Xml.XmlNode proc in Model.DetalleXML.DocumentElement.SelectSingleNode("DDls").SelectNodes("row"))
                    {
                        if (@proc.Attributes["Nombre"].Value.ToString() == "")
                        {
                                <tr>
                                    <th style="text-align:center">No existen registros </th>                                 
                                </tr>
                        }
                        else
                        {
                            Nombre = "'" + @proc.Attributes["Nombre"].Value.ToString() + "'";

                            <tr>
                                <th scope="row" style="max-width: 210px; width:210px">@proc.Attributes["Nombre"].Value.ToString() </th>
                                <td style="max-width: 120px; width:120px;">@proc.Attributes["NomTecnologia"].Value.ToString()</td>
                                <td style="max-width: 90px; width:90px"> @proc.Attributes["NomEstatus"].Value.ToString()</td>
                                <td style="max-width: 110px; width:110px">@proc.Attributes["Fecha_Registro"].Value.ToString()</td>
                                <td style="max-width: 80px; width:80px">@proc.Attributes["Version"].Value.ToString()</td>
                                <td style="max-width: 300px; width:300px">@proc.Attributes["Descripcion_Cambios"].Value.ToString()</td>
                                <td style="max-width: 90px; width:90px; text-align:center">
                                    <img width="20" height="20" src="~/Images/remove.ico" id="" 
                                        onclick="Eliminar_DLL(@proc.Attributes["Id_DLL"].Value.ToString(),@Nombre)"
                                     title="Click para eliminar el plugin: @proc.Attributes["Nombre"].Value.ToString()"/>
                                </td>
                            </tr>
                            }
                        }
                    }
            </tbody>
        </table>
    </div>
</div>

