﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Scroll.css" rel="stylesheet" />
<script src="~/Scripts/Loader.js"></script>
<div id="id_Loader" class="loader"></div>
<div class="row">
    <div class="card" style="width:100%">
        <h3 class="card-header" style="text-align:center">Plugins</h3>
        <div class="card-footer text-muted" onclick="MostrarOcultar()">
            Procedimiento para agregar Plugins (click para ver)
        </div>
        <div class="card-body" id="MostarOcultar" style="display:none" >
            <form>
                <div class="form-row">
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>1. Selecciona el plugin a registrar.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="80%">
                                    <tr>
                                        <td width="30%" align="right"><label for="btnDllFile">Plugin:</label></td>
                                        <td>&nbsp;</td>
                                        <td><button id="btnDllFile" type="button" style="max-width:100%" class="btn btn-outline-info form-control">Seleccionar archivo (.dll)</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>2. Ingresa la descripción de los cambios/mejoras que se realizaron.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="80%">
                                    <tr>
                                        <td width="30%" align="right"><label for="lblDescripcion">Descripción de Cambios:</label></td>
                                        <td>&nbsp;</td>
                                        <td><input class="form-control" id="lblDescripcion" type="text" style="max-width:100%" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>3. Inicia el proceso de registro.</b></div>
                        <div class="card-body" style="align-items:center">
                            <table align="center">
                                <tr>
                                    <td><button id="btnAceptar" style="width:400px" type="button" class="btn btn-info">Agregar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                  
                </div>
            </form>


        </div>

        <div class="card-footer text-muted">
            Plugins instalados.
        </div>
        <div class="card-body">
            <table class="table" style="height:50px; margin-bottom: 0rem;">
                <thead>
                    <tr class="table-primary">
                        <th style="max-width: 210px; width:210px" scope="col">Plugin</th>
                        <th style="max-width: 120px; width:120px" scope="col">Tecnología</th>
                        <th style="max-width: 90px; width:90px" scope="col">Estatus</th>
                        <th style="max-width: 110px; width:110px" scope="col">Fecha</th>
                        <th style="max-width: 80px; width:80px" scope="col">Versión</th>
                        <th style="max-width: 300px; width:300px" scope="col">Descripción de Cambios</th>
                        <th style="max-width: 90px; width:90px" scope="col">Eliminar</th>
                    </tr>
                </thead>

            </table>
            <div id="divdet">
                @{
                    Html.RenderPartial("Detalle");
                }
            </div>
        </div>
    </div>

</div>

<input type="hidden" id="hdRutaOrigen" name="hdRutaOrigen"  value="">
<div class="modal" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table>
                    <tr>
                        <td><img id="imgModal" width="50" height="50" /></td>
                        <td width="10%"></td>
                        <td><label id="lblLibreriaModal"></label></td>
                    </tr>
                </table>
                <br />
                <div style="text-align:right">
                    <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script>   

    $('#btnDllFile').click(function () {
        document.getElementById("hdRutaOrigen").value = "";
        $.ajax({
            type: "GET",
            url: "/DLLs/FileDialogo",
            data: {},
            success: function (viewHTML) {
                document.getElementById("hdRutaOrigen").value = viewHTML;
                var NombreDLLFile = $("#hdRutaOrigen").val();
                NombreDLLFile = NombreDLLFile.split('\\');
                NombreDLLFile = NombreDLLFile[NombreDLLFile.length - 1];
                $('#btnDllFile').text(NombreDLLFile);
            },
            error: function (errorData) {
            }
        });
    });    

    $('#btnAceptar').click(function () {
        MostrarLoader();
        $('#btnDllFile').text("Seleccionar archivo (.dll)");
        var NombreDLLFile = $("#hdRutaOrigen").val();
        NombreDLLFile = NombreDLLFile.split('\\');
        NombreDLLFile = NombreDLLFile[NombreDLLFile.length - 1];
        var RutaOrigen = $("#hdRutaOrigen").val();

        var validarNombre = NombreDLLFile;
        validarNombre = validarNombre.split("_");
        if (validarNombre.length == 5) {
            if (NombreDLLFile == "") {
                $('#lblLibreriaModal').text("Seleccionar un archivo con extención '.ddl'");
                $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                OcultarLoader();
                $('#Modal').modal('show');
            }
            else {
                if (NombreDLLFile.substring((NombreDLLFile.length - 3), NombreDLLFile.length) == "dll") {
                    Agregar_DLL(NombreDLLFile, RutaOrigen, $("#lblDescripcion").val());
                }
                else {
                    $('#lblLibreriaModal').text("Archivo no permitido, tiene que ser con extención '.ddl'");
                    $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                    OcultarLoader();
                    $('#Modal').modal('show');
                }
            }
            document.getElementById("lblDescripcion").value = "";
        } else {
             $('#lblLibreriaModal').text("El archivo debe tener un nombre valido (Ejem: 'analizador_NombreTecnologia_1_1_0.dll')");
                    $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                    OcultarLoader();
                    $('#Modal').modal('show');
        }


        
    });

    function Agregar_DLL(_DLLFile, _RutaOrigen, _Descipcion) {
        var cadena = _DLLFile,
            separador = "_",
            arregloDeSubCadenas = cadena.split(separador);
        var _Tecnologia = arregloDeSubCadenas[1].replace(".dll", '');
        var _Nombre = _DLLFile;
        var _Version = arregloDeSubCadenas[2] + "." + arregloDeSubCadenas[3] + "." + arregloDeSubCadenas[4].replace(".dll", '');
        var _Nombre_Ejecucion = arregloDeSubCadenas[1];
        $.ajax({
            type: "POST",
            url: "/DLLs/Agregar_DLL",
            data: { Nombre: _Nombre, Tecnologia: _Tecnologia, RutaOrigen: _RutaOrigen, Descripcion_Cambios: _Descipcion, Version: _Version, Nombre_Ejecucion:_Nombre_Ejecucion  },
            success: function (viewHTML) {
                if (viewHTML != "") {
                    var s = viewHTML[0].Resultado;
                    if (s == "1") {
                        Actualizar_Detalle();
                        $('#lblLibreriaModal').text("La DLL '" + _Nombre + "' se agregó correctamente.");
                        $("#imgModal").attr("src", "../Images/icono_listo.png");
                    } else {
                        if (s == "2") {
                            $('#lblLibreriaModal').text("La DLL '" + _Nombre + "' ya existe.");
                            $("#imgModal").attr("src", "../Images/alerta-amarillo.png");

                        } else {
                            $('#lblLibreriaModal').text("La DLL '" + _Nombre + "' NO se agregó correctamente en la Base de Datos.");
                            $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                        }
                    }

                }
                else {
                    $('#lblLibreriaModal').text("La DLL '" + _Nombre + "' NO se agregó correctamente en el directorio destino.");
                    $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                }
                OcultarLoader();
                $('#Modal').modal('show');
            },
            error: function (errorData) {
                $('#lblLibreriaModal').text("La DLL '" + _Nombre + "' NO se agregó correctamente.");
                $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                OcultarLoader();
                $('#Modal').modal('show');
            }
        });
    }

    function Eliminar_DLL(_Id_DLL, _NombreDLL) {
        MostrarLoader();
        $.ajax({
            type: "POST",
            url: "/DLLs/Eliminar_DLL",
            data: { Id_DLL: _Id_DLL, Nombre: _NombreDLL},
            success: function (viewHTML) {
                var s = viewHTML[0].Resultado;
                if (s == "1") {
                    Actualizar_Detalle();
                    $('#lblLibreriaModal').text("La DLL '" + _NombreDLL + "' se eliminó correctamente.");
                    $("#imgModal").attr("src", "../Images/icono_listo.png");

                } else {
                    $('#lblLibreriaModal').text("La DLL '" + _NombreDLL + "' NO se eliminó correctamente.");
                    $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                }
                $('#Modal').modal('show');

            },
            error: function (errorData) {
                $('#lblLibreriaModal').text("La DLL '" + _NombreDLL + "' NO se eliminó correctamente.");
                $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                OcultarLoader();
                $('#Modal').modal('show');
            }
        });
    }

    function Actualizar_Detalle() {
        $.ajax({
            type: "POST",
            url: "/DLLs/ActualizaTablaDLLs",
            data: {},
            success: function (viewHTML) {
                $("#divdet").empty;
                $("#divdet").html(viewHTML);
                OcultarLoader();
            },
            error: function (errorData) {
                OcultarLoader();
                console.log("Request Failed: " + errorData);

            }
        });
    }
</script>