﻿@model  Analizador_BP.Models.AnalizadorModel

<div class="" id="MyDiv2">
    <label for="Analizador" style="padding-left: 10px; padding-top: 10px;">Aplicaciones:</label>
    <div class="scrollbar scrollbar-primary" style="width:500px;">
        <div id="div2" class="force-overflow">
            @{
                <label class="" style="padding-left: 10px;">
                    <input type="checkbox" class="form-contro" value="0" id="selectalll" />
                    -- Seleccionar todas las aplicaciones
                </label>
                <br />
                foreach (System.Xml.XmlNode analizador in Model.DetalleXMLAplicaciones.DocumentElement.SelectSingleNode("Aplicaciones").SelectNodes("row"))
                {
                    if (@analizador.Attributes["Id_Aplicacion"].Value.ToString() == "0")
                    {
                        <label class="" style="padding-left: 10px;">
                            No hay aplicaciones
                        </label>
                    }
                    else
                    { <label class="" style="padding-left: 10px;">
                            <input type="checkbox" name="selected" id="Aplicaciones" class="form-contro" value="@analizador.Attributes["Id_Aplicacion"].Value.ToString()" />
                            @analizador.Attributes["Nombre"].Value.ToString()
                        </label> <br />
                    }
                }
            }
        </div>
    </div>
</div>

<script>
    $("#selectalll").on("click", function () {
        if ($('#MyDiv2 ').length == $('#MyDiv2 input:checked').length) {

            $("input[id=Aplicaciones]").prop("checked", true);

        } else {
            $("input[id=Aplicaciones]").prop("checked", false);
        }
     });
</script>