﻿
@model  Analizador_BP.Models.AnalizadorModel

<div id="div1" class="scrollbar scrollbar-primary">
    <div id="div2" class="force-overflow">
        <table class="table" style="height:50px;">
            <tbody>
                @{
                    foreach (System.Xml.XmlNode proc in Model.DetalleXMLProcesos.DocumentElement.SelectSingleNode("Procesos").SelectNodes("row"))
                    {
                        if (@proc.Attributes["Aplicacion"].Value.ToString() == "")
                        {
                            <tr>
                                <th style="text-align:center">No existen registros </th>
                            </tr>
                        }
                        else
                        {
                            <tr >
                                <td style="max-width: 100px; width:100px">@proc.Attributes["id_proceso"].Value.ToString()</td>
                                <th style="max-width: 290px; width:290px">@proc.Attributes["Aplicacion"].Value.ToString() </th>
                                <td style="max-width: 240px; width:240px">@proc.Attributes["Tipo_Analizador"].Value.ToString()</td>
                                <td style="max-width: 280px; width:280px">@proc.Attributes["fecha_creacion"].Value.AsDateTime()</td>
                                <td style="max-width: 100px; width:100px">@proc.Attributes["NombreEstatus"].Value.ToString() </td>
                                <td style="max-width: 60px; width:60px">
                                    <button type="reset" OnBegin="onBegin()" OnComplete="onComplete()" 
                                            style="background-color:transparent; border-color:transparent; text-align:center"
                                            onclick="CrearExcelTodos(@proc.Attributes["Id_Aplicacion"].Value.ToString(),'')" title="Click para descargar el excel del proceso: @proc.Attributes["id_proceso"].Value.ToString() del análisis de la aplicación: @proc.Attributes["Aplicacion"].Value.ToString()   ">
                                        <img src="~/Images/excel.ico" height="25" />
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

