﻿@model  Analizador_BP.Models.AnalizadorModel

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<link href="~/Content/Scroll.css" rel="stylesheet" />
<script src="~/Scripts/Loader.js"></script>
<div id="id_Loader" class="loader"></div>

<div class="row">

    <div class="card" style="width:100%">
        <h3 class="card-header" style="text-align:center">Análisis Estático de Código</h3>
        <div class="card-footer text-muted" onclick="MostrarOcultar()">
            Procedimiento para Analizar Aplicaciones (click para ver)
        </div>
        <div class="card-body" id="MostarOcultar" style="display:none">
            <form>
                <div class="form-row">

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>1. Selecciona la aplicación que deseas analizar.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="80%">
                                    <tr>
                                        <td width="30%" align="right">@Html.LabelFor(m => m.Id_Aplicacion, "Aplicación:")</td>
                                        <td>&nbsp;</td>
                                        <td>@Html.DropDownListFor(m => m.AppLista, new SelectList(Model.AppLista, "Indice", "Texto"), "Selecciona", new { @id = "Id_Aplicacion", @class = "form-control", @style = "max-width:100%" })</td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>2. Valida infromación de la tecnología y el plugin.</b></div>
                        <div class="card-body">
                            <table border="0" width="90%">
                                <tr>
                                    <td width="30%" align="right"><label for="exampleInputFile">Tecnología:</label></td>
                                    <td>&nbsp;</td>
                                    <td><label id="lblTecnologia" class="form-control" style="max-width:300px; width:300px"></label></td>
                                    <td>&nbsp;</td>
                                    <td width="30%" align="right"><label for="exampleInputFile">Plugin reciente:</label></td>
                                    <td>&nbsp;</td>
                                    <td><label id="lblPlugin" class="form-control" style="max-width:300px; width:300px"></label></td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>3. Selecciona la carpeta en tu equipo que contiene el código fuente a analizar.</b></div>
                        <div class="card-body">
                            <table border="0" width="80%">
                                <tr>
                                    <td width="30%" align="right"><label for="exampleInputFile">Ruta del proyecto:</label></td>
                                    <td>&nbsp;</td>
                                    <td><button id="btnFile" type="button" class="btn btn-outline-info form-control" style="max-width:100%" onclick="AbrirFileDialog()">Seleccionar un proyecto</button></td>
                                    <input type="hidden" id="hdRutaOrigen" name="hdRutaOrigen" value="">
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>4. Marca los analizadores que deseas aplicar en el análisis</b></div>
                        <div class="card-body">
                            <div class="col col-12" id="MyDiv">
                                <label for="Analizador">Analizadores:</label><br />

                                @{
                                    <label class="">
                                        <input type="checkbox" class="form-contro" value="0" id="selectall" />
                                        Seleccionar todos&nbsp;&nbsp;
                                    </label>
                                    foreach (System.Xml.XmlNode analizador in Model.DetalleXML.DocumentElement.SelectSingleNode("Analizador").SelectNodes("row"))
                                    {
                                        <label class="">
                                            <input type="checkbox" name="selected" id="Analizadores" class="form-contro" value="@analizador.Attributes["Id_TipoAnalizador"].Value.ToString()" />
                                            @analizador.Attributes["Nombre"].Value.ToString()&nbsp;&nbsp;
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>5. Inicia el proceso de analísis</b></div>
                        <div class="card-body" style="align-items:center">
                            <table align="center">
                                <tr>
                                    <td><button style="width:400px" type="button" class="btn btn-success" id="btnAceptar">Iniciar Analísis</button></td>
                                    <td width="60px"></td>
                                    <td><button style="width:400px" type="reset" class="btn btn-info" id="btnLimpiar" onclick="Limpiar()">Limpiar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   

                </div>
            </form>
        </div>

        <div class="card-footer text-muted" onclick="MostrarOcultar2()">
            Descarga de Inventario (click para ver)
        </div>
        <div class="card-body" id="MostarOcultar2" style="display:none">
             <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>1. Descarga el inventario con los filtros seleccionados.</b></div>
                        <div class="card-body" style="align-items:center">
                            <table border="0" width="90%">
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td style=" max-width: 410px;width: 410px;">
                                        <table border="0" style="text-align:center">
                                            <tr>
                                                <td>

                                                    <div class="form-check">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Todos los días
                                                        </label>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">Por día
                                                        </label>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">Por périodo
                                                        </label>

                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <table border="0" id="idTablaFechas">
                                            <tr>
                                                <td width="30%" align="right"><label>Fecha Inicial</label></td>
                                                <td>&nbsp;</td>
                                                <td><input type="date" id="inputFechaInicial" class="form-control" style="max-width:300px; width:300px" /></td>
                                                <td>&nbsp;</td>

                                            </tr>
                                            <tr><td>&nbsp;</td></tr>
                                            <tr id="trFechaFin">
                                                <td width="30%" align="right"><label>Fecha Final</label></td>
                                                <td>&nbsp;</td>
                                                <td><input type="date" id="inputFechaFinal" class="form-control" style="max-width:300px; width:300px" /></td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>

                                                <td colspan="4" style="text-align:center"> <br /> <button style="width:200px" type="button" class="btn btn-success" id="btnBuscarPorFechas">Ok</button></td>
                                            </tr>
                                        </table>
                                        <br />
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>
                                        <table border="0" width="90%">
                                            <tr>
                                                <td style="border: 1px solid #a8c6e6;">
                                                    <div id="divAplicacionesDetalle">
                                                        @{
                                                            Html.RenderPartial("Aplicaciones");
                                                        }
                                                    </div>

                                                </td>

                                                <td width="20px"></td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="text-align:center">

                                    <td colspan="4"><br /><button style="width:400px" type="button" class="btn btn-success" id="btnExcelTodos">Descargar Inventario</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
        </div>

        <div class="card-footer text-muted">
            Aplicaciones analizadas.
        </div>
        <div class="card-body">
            <table class="table" style="height:50px; margin-bottom: 0rem;">
                <thead>
                    <tr class="table-primary">
                        <th scope="col" style="max-width: 100px; width:100px">Proceso</th>
                        <th scope="col" style="max-width: 290px; width:290px">Aplicación</th>
                        <th scope="col" style="max-width: 240px; width:240px">Analizador</th>
                        <th scope="col" style="max-width: 280px; width:280px">Fecha de Análisis</th>
                        <th scope="col" style="max-width: 100px; width:100px">Estado</th>
                        <th scope="col" style="max-width: 60px; width:60px">Excel</th>
                    </tr>
                </thead>
            </table>

            <div id="divdet">
                @{
                    Html.RenderPartial("Detalle");
                }
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdValorExcel" name="hdValorExcel" value="">
<div class="modal" id="Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <table>
                    <tr>
                        <td><img id="imgModal" width="50" height="50" /></td>
                        <td width="10%"></td>
                        <td><label id="lblLibreriaModal"></label></td>
                    </tr>
                </table>
                <br />
                <div style="text-align: right ">
                    <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#inputFechaInicial").val(today);
        $("#inputFechaFinal").val(today);
        console.log("fecha " + today);
    });

    $("#selectall").on("click", function () {
        if ($('#MyDiv ').length == $('#MyDiv input:checked').length) {

            $("input[id=Analizadores]").prop("checked", true);

        } else {
            $("input[id=Analizadores]").prop("checked", false);
        }
    });
     

    
    $(document).ready(function () {
        document.getElementById("idTablaFechas").style.display = "none";

        $('#btnAceptar').click(function () {
            MostrarLoader();
            var list = [];
            $("input[id=Analizadores]").each(function (e) {
                if (this.value > 0) {
                    list.push(this.value);

                }
            });  
            if ($("#Id_Aplicacion").val() != "" && $("#hdRutaOrigen").val() != "" && list.length != 0) {

                PreparaAnalizador(list, $("#Id_Aplicacion").val(), $("#hdRutaOrigen").val())
            }
            else {
                $('#lblLibreriaModal').text("Seleccionar los campos adecuados.");
                $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                OcultarLoader();
                $('#Modal').modal('show');
            }
        });

        $('#btnExcelTodos').click(function () {
            var listaa = [];
            $("input[id=Aplicaciones]").each(function (e) {
                if (this.checked == true) {
                    listaa.push(this.value);
                }
            });
            CrearExcelTodos(0, listaa);
        });

        $('input[type="radio"]').on('click', function (e) {
            document.getElementById("hdValorExcel").value = "";
            var valor = this.value;
            document.getElementById("hdValorExcel").value = valor;
            if (valor == "option1") { //Todos
                MostrarLoader();
                document.getElementById("idTablaFechas").style.display = "none";
                $("input[id=selectalll]").removeAttr("disabled");
                $("input[id=Aplicaciones]").removeAttr("disabled");
                ConsultaAplicacionesFechaProceso('1900-01-01', '1900-01-01', 1); //1= Todas las aplicaciones
            } else {
                if (valor == "option2") {//Por día                    
                    document.getElementById("idTablaFechas").removeAttribute("style");
                    document.getElementById("trFechaFin").style.display = "none";
                } else { //Opción 3 Por périodo
                    document.getElementById("idTablaFechas").removeAttribute("style");
                    document.getElementById("trFechaFin").removeAttribute("style");
                }
                $("input[id=selectalll]").prop('disabled', true);
                $("input[id=Aplicaciones]").prop('disabled', true);
                ConsultaAplicacionesFechaProceso('1900-01-02', '1900-01-02', 0); //0= Todas las aplicaciones por fecha
            }
            $("input[id=Aplicaciones]").prop("checked", false);
            $("input[id=selectalll]").prop("checked", false);
        });

        $('#btnBuscarPorFechas').click(function () {
            MostrarLoader();
            var valor = $("#hdValorExcel").val();
            var FechaInicio;
            var FechaFin= '1900-01-01';
            if (valor == "option2") { //Por día 
                console.log(inputFechaInicial);
                FechaInicio = inputFechaInicial.value;                
                ConsultaAplicacionesFechaProceso(FechaInicio, FechaFin,0);
            } else { //Por periodo
                FechaInicio = inputFechaInicial.value;
                FechaFin =  inputFechaFinal.value; 
                ConsultaAplicacionesFechaProceso(FechaInicio, FechaFin,0);
            }
            $("input[id=selectalll]").removeAttr("disabled");
            $("input[id=Aplicaciones]").removeAttr("disabled");
        });
    });

    function Actualizar_DetalleAplicaciones() {
        $.ajax({
            type: "POST",
            url: "/Analizador/ActualizaTablaAnalizador",
            data: {},
            success: function (viewHTML) {
                $("#divdet").empty;
                $("#divdet").html(viewHTML);
                OcultarLoader();
            },
            error: function (errorData) {
                OcultarLoader();
                console.log("Request Failed: " + errorData);

            }
        });
    }
    function ConsultaAplicacionesFechaProceso(_Fecha_Creacion, _FechaFin, _Tipo) {
        $.ajax({
            type: "POST",
            url: "/Analizador/ConsultaAplicacionesFechaProceso",
            data: { Fecha_Creacion: _Fecha_Creacion, Fecha_Fin: _FechaFin, Tipo: _Tipo },
            success: function (viewHTML) {
                $("#divAplicacionesDetalle").empty;
                $("#divAplicacionesDetalle").html(viewHTML);
                OcultarLoader();
            },
            error: function (errorData) {
                OcultarLoader();
            }
        });
    }
    function PreparaAnalizador(list, app, ruta) {
       
                var NombreArchivo = ruta;
                NombreArchivo = NombreArchivo.split('\\');
                NombreArchivo = NombreArchivo[NombreArchivo.length - 1];
        $.ajax({
            url: "/Analizador/PreparaAnalizador",
            type: 'POST',
            data: { Parameters: list, Id_Aplicacion: app, ruta: ruta,NombreArchivoProyecto :NombreArchivo },
            success: function (respuesta) {
                if (respuesta == "True") {
                    $('#lblLibreriaModal').text("Análisis terminado correctamente.");
                    $("#imgModal").attr("src", "../Images/icono_listo.png");
                    Actualizar_Detalle();
                    OcultarLoader();
                    Limpiar();
                    $('#Modal').modal('show');
                } else {
                    $('#lblLibreriaModal').text("Error al realizar el análisiss.");
                    $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                    Actualizar_Detalle();
                    OcultarLoader();
                    Limpiar();
                    $('#Modal').modal('show');
                }

            },
            error: function (respuesta) {
                $('#lblLibreriaModal').text("Error al realizar el análisis.");
                $("#imgModal").attr("src", "../Images/icono_eliminar.png");
                OcultarLoader();
                $('#Modal').modal('show');

            }
        });
    }

    function AbrirFileDialog() {
        $.ajax({
            type: "POST",
            url: "/Analizador/FileDialogo",
            data: {},
            success: function (viewHTML) {
                document.getElementById("hdRutaOrigen").value = viewHTML;
                var NombreDLLFile = $("#hdRutaOrigen").val();
                NombreDLLFile = NombreDLLFile.split('\\');
                NombreDLLFile = NombreDLLFile[NombreDLLFile.length - 1];

                $('#btnFile').text(NombreDLLFile == "Seleccionar un proyecto" ? "Seleccionar un proyecto" : "/" + NombreDLLFile);

            },
            error: function (errorData) {
            }
        });
    }
  
    function CrearExcelTodos(_Id_Aplicacion, _Ids_Aplicaciones) {
        var _Ids_Aplicacionesstring = _Ids_Aplicaciones.toString();
        MostrarLoader();
        $.ajax({
            type: "GET",
            url: "/Analizador/CrearExcelTodos",
            data: { Id_Aplicacion: _Id_Aplicacion, ids_Aplicaciones : _Ids_Aplicacionesstring },
            success: function (respues) {
                if (respues == 1) {
                    OcultarLoader();
                } else {
                    if (respues = 2) {
                        $('#lblLibreriaModal').text("No existen datos a mostrar.");
                        $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                        OcultarLoader();
                        $('#Modal').modal('show');
                    }
                    else {
                        $('#lblLibreriaModal').text("Error al generar el Excel.");
                        $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                        OcultarLoader();
                        $('#Modal').modal('show');
                    }
                }
            },
            error: function (errorData) {

            }
        });
    }

    function Limpiar() {
        var dropDown = document.getElementById("Id_Aplicacion");
        dropDown.selectedIndex = 0;
        $('#btnFile').text("Seleccionar un proyecto");
        $('#lblTecnologia').text("");
        $('#lblPlugin').text("");
        $('#MyDiv input:checked').each(function (e) {
            this.checked = false;
        });
    }

    function Actualizar_Detalle() {
        $.ajax({
            type: "POST",
            url: "/Analizador/ActualizaTablaAnalizador",
            data: {},
            success: function (viewHTML) {
                $("#divdet").empty;
                $("#divdet").html(viewHTML);
                OcultarLoader();
            },
            error: function (errorData) {
                OcultarLoader();
                console.log("Request Failed: " + errorData);

            }
        });
    }

    $("#Id_Aplicacion").change(function () {
        var _id_Aplicacion = $("#Id_Aplicacion").val();
        $.ajax({
            type: "POST",
            url: "/Analizador/ConsultaInfoPluggin",
            data: { Id_Aplicacion: _id_Aplicacion },
            success: function (viewHTML) {
                $('#lblTecnologia').text(viewHTML[0].NombreTecnologia);
                $('#lblPlugin').text(viewHTML[0].Nombre);
                if (viewHTML[0].NombreTecnologia != "") {
                    $('#lblTecnologia').text(viewHTML[0].NombreTecnologia);
                    $('#lblPlugin').text(viewHTML[0].Nombre);
                } else {
                    $('#lblLibreriaModal').text("Esta Aplicación aún no cuenta con un plugin para poder ser analizada.");
                    $("#imgModal").attr("src", "../Images/alerta-amarillo.png");
                    $('#Modal').modal('show');
                }
               
            },
                error: function (errorData) {
                }
            });
    })

</script>