﻿
@{
    ViewBag.Title = "Aplicacion";
}
@model  Analizador_BP.Models.AplicacionModel
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Scroll.css" rel="stylesheet" />
</head>
<body>

    <div class="row">
        <div class="card" style="width:100%">
            <h3 class="card-header">Aplicación</h3>
            <div class="card-footer text-muted">
                Administración de Aplicaciones
            </div>
            <div class="card-body">
                <div class="card border-primary mb-3" style="width: 100%;display:block;" id="createApp">
                    <div class="card-header"><b>Nueva Aplicación</b></div>
                    <div class="card-body">
                        <div>
                            @using (Html.BeginForm("AgregaAplicacion", "Aplicacion"))
                            {
                            <table width="100%">

                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.NombreCorto)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.NombreCorto, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>@Html.ValidationMessageFor(m => m.NombreCorto, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Nombre)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Ruta)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Ruta, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Ruta, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdTecnologia)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdTecnologia, new SelectList(Model.TecnologiaLista, "Indice", "Texto"), "Selecciona", new { @id = "TecnologiaLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdTecnologia, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Framework)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Framework, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Framework, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdTipoAplicacion)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdTipoAplicacion, new SelectList(Model.TipoAplicacionLista, "Indice", "Texto"), "Selecciona", new { @id = "TipoAplicacionLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdTipoAplicacion, null, new { @class = "text-danger" })</td>
                                </tr>

                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.VersionLenguaje)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.VersionLenguaje, new { @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.VersionLenguaje, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdCriticidad)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdCriticidad, new SelectList(Model.CriticidadLista, "Indice", "Texto"), "Selecciona", new { @id = "TipoAplicacionLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdCriticidad, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr><td height="10px"></td></tr>
                                <tr>
                                    <td align="right"><button type="submit" style="width:350px" id="btnguardar" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("AgregaAplicacion", "Aplicacion") + "'");">Guardar</button></td>
                                    <td></td>
                                    <td>
                                        <button type="button" style="width:350px" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("Index", "Aplicacion") + "'");">Cancelar</button>
                                    </td>
                                </tr>
                            </table>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>