﻿@model Analizador_BP.Models.AplicacionModel
<div id="div1" class="scrollbar scrollbar-primary">
    <div id="div2" class="force-overflow">
        <table class="table" style="height:50px;" id="tablaAplicaciones">
            <tbody>
                @{
                    foreach (System.Xml.XmlNode proc in Model.DetalleXML.DocumentElement.SelectSingleNode("Aplicaciones").SelectNodes("row"))
                    {
                        string Estatus = @proc.Attributes["Estatus"].Value.ToString();
                        string VersionLenguaje = @proc.Attributes["VersionLenguaje"].Value.ToString();
                        string Framework = @proc.Attributes["Framework"].Value.ToString();
                        string TipoAplicacion = @proc.Attributes["TipoAplicacion"].Value.ToString();
                        string Tecnologia = @proc.Attributes["Tecnologia"].Value.ToString();
                        string Ruta = @proc.Attributes["Ruta"].Value.ToString();
                        string Nombre = @proc.Attributes["Nombre"].Value.ToString();
                        string NombreCorto = @proc.Attributes["NombreCorto"].Value.ToString();
                        string Id_Tecnologia = @proc.Attributes["Id_Tecnologia"].Value.ToString();
                        string Id_TipoAplicacion = proc.Attributes["Id_TipoAplicacion"].Value.ToString();
                        string Id_Aplicacion = proc.Attributes["Id_Aplicacion"].Value.ToString();
                                <tr>
                                    <th scope="row" style="width:100px; max-width:100px">@NombreCorto</th>
                                    <td style="width:180px; max-width:180px">@Nombre</td>
                                    <td style="width:210px; max-width:210px">@Ruta</td>
                                    <td style="width:120px; max-width:120px">@Tecnologia</td>
                                    <td style="width:130px; max-width:130px">@TipoAplicacion</td>
                                    <td style="width:150px; max-width:150px">@Framework</td>
                                    <td style="width:130px; max-width:130px ">@VersionLenguaje</td>
                                    <td style="width:90px; max-width:90px ">@Estatus</td>
                                    <td style="width:80px; max-width:80px">

                                        <button type="button" style="background-color:transparent; border-color:transparent;" title="Click para editar al usuario: @Nombre"
                                                onclick="EditAppForm('@NombreCorto',
                                                                     '@Nombre',
                                                                     '@Ruta',
                                                                     '@Id_Tecnologia',
                                                                     '@Id_TipoAplicacion',
                                                                     '@Framework',
                                                                     '@VersionLenguaje',
                                                                      @Id_Aplicacion)">
                                            <img src="~/Images/edit.ico" height="25" />
                                        </button>
                                    </td>
                                    <td style="width:100px; max-width:100px">
                                        <button type="button" style="
        background-color: transparent;
        border-color: transparent;
   " id="btnIdRemove"
                                                onclick="EliminarAplicacion('@Nombre',@Id_Aplicacion)"
                                                title="Click para eliminar al usuario: @Nombre">
                                            <img src="~/Images/remove.ico" height="25" />
                                        </button>
                                    </td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


