﻿@model  Analizador_BP.Models.AplicacionModel
@{
    ViewBag.Title = "Aplicación";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Scroll.css" rel="stylesheet" />
    <script src="~/Scripts/Loader.js"></script>
</head>
<body>
    <div id="id_Loader" class="loader"></div>
    <div class="row">
        <div class="card" style="width:100%">
            <h3 class="card-header" style="text-align:center">Aplicación</h3>
            <div class="card-footer text-muted" onclick="MostrarOcultar()">
                Administración de aplicaciones(click para ver)
            </div>
            <div class="card-body" id="MostarOcultar" style="display:none">
                <div class="card border-primary mb-3" style="width:100%;display:block;" id="btnAgregar">
                    <div class="card-header"><b>1. Agregar aplicación.</b></div>
                    <div class="card-body" style="align-items:center">
                        <table align="center">
                            <tr>
                                <td><button type="button" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("AgregarPantalla","Aplicacion")+ "'");" " style="width: 400px">Agregar</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="width: 100%;display:none;" id="updateApp">
                    <div class="card-header"><b>Modificar Aplicación</b></div>
                    <div class="card-body">
                        <div>
                            @using (Html.BeginForm("ModificarAplicacion", "Aplicacion"))
                            {
                            <table width="100%">

                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.NombreCorto)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.NombreCorto, new { @class = "form-control", @id = "nombreCortoUp" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        @Html.ValidationMessageFor(m => m.NombreCorto, null, new { @class = "text-danger" })
                                        @Html.HiddenFor(m => m.IdAplicacion, new { @class = "form-control", @id = "idAplicacionUp" })
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Nombre)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @id = "nombreUp" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Ruta)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Ruta, new { @class = "form-control", @id = "rutaUp" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Ruta, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdTecnologia)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdTecnologia, new SelectList(Model.TecnologiaLista, "Indice", "Texto"), "Selecciona", new { @id = "TecnologiaLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdTecnologia, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.Framework)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.Framework, new { @class = "form-control", @id = "frameworkUp" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.Framework, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdTipoAplicacion)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdTipoAplicacion, new SelectList(Model.TipoAplicacionLista, "Indice", "Texto"), "Selecciona", new { @id = "TipoAplicacionLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdTipoAplicacion, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.VersionLenguaje)</td>
                                    <td width="60px"></td>
                                    <td>@Html.TextBoxFor(m => m.VersionLenguaje, new { @class = "form-control", @id = "vLenguajeUp" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.VersionLenguaje, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr>
                                    <td align="right">@Html.LabelFor(m => m.IdCriticidad)</td>
                                    <td width="60px"></td>
                                    <td>@Html.DropDownListFor(m => m.IdCriticidad, new SelectList(Model.CriticidadLista, "Indice", "Texto"), "Selecciona", new { @id = "TipoAplicacionLista", @class = "form-control" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td align="left">@Html.ValidationMessageFor(m => m.IdCriticidad, null, new { @class = "text-danger" })</td>
                                </tr>
                                <tr><td height="10px"></td></tr>
                                <tr>
                                    <td align="right"><button type="submit" style="width:350px" id="btnguardar" class="btn btn-success" onclick="@("window.location.href='" + @Url.Action("ModificarAplicacion", "Aplicacion") + "'");">Guardar</button></td>
                                    <td></td>
                                    <td>
                                        <button type="button" style="width:350px" class="btn btn-info" onclick="@("window.location.href='" + @Url.Action("Index", "Aplicacion") + "'");">Cancelar</button>
                                    </td>
                                </tr>

                            </table>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-muted" id="divResult">
                Aplicaciones registradas.
            </div>
            <div class="card-body" id="tablaAplicaciones" style="display:block">
                <table class="table" style="height:50px;margin-bottom:0rem;">
                    <thead>
                        <tr class="table-primary">                         
                            <th scope="col" style="width:500px; max-width:500px">Nombre corto</th>
                            <th scope="col" style="width:2100px; max-width:2100px">Nombre</th>
                            <th scope="col" style="width:4400px; max-width:4400px">Ruta</th>
                            <th scope="col" style="width:110px; max-width:110px">Tecnología</th>
                            <th scope="col" style="width:110px; max-width:110px">Tipo Aplicación</th>
                            <th scope="col" style="width:110px; max-width:110px">Framework</th>
                            <th scope="col" style="width:110px; max-width:110px">Versión Lenguaje</th>
                            <th scope="col" style="width:90px; max-width:90px">Estatus</th>
                            <th scope="col" style="width:90px; max-width:90px">Editar</th>
                            <th scope="col" style="width:90px; max-width:90px">Eliminar</th>
                        </tr>
                    </thead>
                </table>
                <div id="divdet">
                    @{
                        Html.RenderPartial("Detalle");
                    }
                </div>
            </div>
        </div>
    </div>
    @*MODAL*@
    <div class="modal" id="Modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><img id="imgModal" width="50" height="50" /></td>
                            <td width="10%"></td>
                            <td><label id="lblLibreriaModal"></label></td>
                        </tr>
                    </table>
                    <br />
                    <div style="text-align:right">
                        <button type="button" class="btn btn-info" id="eliminar" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-danger" id="canceleliminar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ModalSucess">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <table>
                        <tr>
                            <td><img id="imgModalS" width="50" height="50" /></td>
                            <td width="10%"></td>
                            <td><label id="lblLibreriaModalS"></label></td>
                        </tr>
                    </table>
                    <br />
                    <div style="text-align:right">
                        <button type="button" class="btn btn-info" id="aceptar" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (ViewBag.message == "Campos Requeridos")
    {
        <script type="text/javascript">
            document.getElementById('updateApp').style.display = "block";
            document.getElementById('tablaAplicaciones').style.display = "none";
            document.getElementById('btnAgregar').style.display = "none";
            document.getElementById('divResult').style.display = "none";
        </script>
    }
</body>
</html>
<script>
    
     function EditAppForm(nombreCorto,nombre,ruta,tecnologia,tipoApp,framework,versionLenguaje,idApp) {
        MostrarLoader();
        document.getElementById("idAplicacionUp").value = idApp;
        document.getElementById("nombreCortoUp").value = nombreCorto;
        document.getElementById("nombreUp").value = nombre;
        document.getElementById("rutaUp").value = ruta;
        document.getElementById("TipoAplicacionLista").value = tipoApp;
        document.getElementById("TecnologiaLista").value = tecnologia;
        document.getElementById("frameworkUp").value = framework;
        document.getElementById("vLenguajeUp").value = versionLenguaje;

        document.getElementById('updateApp').style.display = "block";
        document.getElementById('btnAgregar').style.display = "none";
        document.getElementById('tablaAplicaciones').style.display = "none";
        MostrarOcultar();
        document.getElementById('divResult').style.display = "none";
        OcultarLoader();
    }


    function EliminarAplicacion(nombre, idApp) {

        $('#lblLibreriaModal').text("¿Eliminar aplicación " + nombre + "?");
        $("#imgModal").attr("src", "../Images/icono_eliminar.png");
        $('#Modal').modal('show');

        $("#eliminar").click(function () {
            RemoveUser(idApp, nombre);
            $('#lblLibreriaModalS').text("Aplicación eliminada correctamente");
            $("#imgModalS").attr("src", "../Images/icono_listo.png");
            $('#ModalSucess').modal('show');
        });

        $("#canceleliminar").click(function () {
            $('#Modal').modal('hide');
        });
    }

    function RemoveUser(idApp, nombre) {
        $.ajax({
            type: "POST",
            url: "/Aplicacion/EliminarAplicacion",
            data: { idAplicacion: idApp, nombre: nombre },
            success: function (viewHTML) {
                $("#divdet").html(viewHTML);
            },
            error: function (errorData) {
            }
        });
    }
</script>