﻿@model  Analizador_BP.Models.LogsModel
<div id="div1" class="scrollbar scrollbar-primary">
    <div id="div2" class="force-overflow">
        <table class="table" id="tablaLogs">
            <tbody>
                @{
                    foreach (System.Xml.XmlNode proc in Model.DetalleXML.DocumentElement.SelectSingleNode("Logs").SelectNodes("row"))
                    {
                        if (@proc.Attributes["descripcion"].Value.ToString() == "")
                        {
                            <tr>
                                <th style="text-align:center">No existen registros </th>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td scope="row" style="max-width:400px ; width:400px">@proc.Attributes["descripcion"].Value.ToString()</td>
                                <td style="max-width:100px ; width:100px">@proc.Attributes["usuario"].Value.ToString() </td>
                                <td style="max-width:200px ; width:200px">@proc.Attributes["fecha_creacion"].Value.ToString() </td>
                                <td style="max-width:100px ; width:100px">@proc.Attributes["accion"].Value.ToString()</td>
                            </tr>
                            }
                        }
                    }
                </tbody>
        </table>
    </div>
</div>