﻿<script src="~/Scripts/jquery-3.3.1.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  Analizador_BP.Models.LogsModel
<link href="~/Content/Scroll.css" rel="stylesheet" />
<script src="~/Scripts/Loader.js"></script>
<div id="id_Loader" class="loader"></div>
<script>
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#inputFechaInicial").val(today);
        $("#inputFechaFinal").val(today);
        console.log("fecha " + today);
    });
</script>
<div class="row">
    <div class="card" style="width:100%">
        <h3 class="card-header" style="text-align:center">Logs</h3>
        <div class="card-footer text-muted" onclick="MostrarOcultar()">
            Consultar los Logs del uso de la aplicación (click para ver)
        </div>
        <div class="card-body" id="MostarOcultar" style="display:none">
            <form>
                <div class="form-row">
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>1. Selecciona las fechas de inicio y fin a consultar.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="90%">
                                    <tr>
                                        <td width="30%" align="right"><label>Fecha Inicial</label></td>
                                        <td>&nbsp;</td>
                                        <td><input type="date" id="inputFechaInicial" class="form-control" style="max-width:300px; width:300px" /></td>
                                        <td>&nbsp;</td>
                                        <td width="30%" align="right"><label>Fecha Final</label></td>
                                        <td>&nbsp;</td>
                                        <td><input type="date" id="inputFechaFinal" class="form-control" style="max-width:300px; width:300px" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>2. Selecciona la "Acción" a consultar.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="80%">
                                    <tr>
                                        <td width="30%" align="right">@Html.LabelFor(m => m.accion, "Acción:")</td>
                                        <td>&nbsp;</td>
                                        <td>@Html.DropDownListFor(m => m.accionLista, new SelectList(Model.AccionLista, "Indice", "Texto"), "Todos", new { @id = "accion", @class = "form-control", @style = "max-width:100%" })</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>3. Selecciona el "Usuario" a consultar.</b></div>
                        <div class="card-body">
                            <div>
                                <table border="0" width="80%">
                                    <tr>
                                        <td width="30%" align="right">@Html.LabelFor(m => m.idUsuario, "Usuarios:")</td>
                                        <td>&nbsp;</td>
                                        <td>@Html.DropDownListFor(m => m.UsuariosLista, new SelectList(Model.UsuariosLista, "Indice", "Texto"), "Todos", new { @id = "idUsuario", @class = "form-control", @style = "max-width:200%" })</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card border-primary mb-3" style="width: 100%;">
                        <div class="card-header"><b>4. Inicia el proceso de consulta.</b></div>
                        <div class="card-body" style="align-items:center">
                            <table align="center">
                                <tr>
                                    <td><button id="btnBuscar" class="btn btn-info" style="align-content:end; width:400px" type="button">Buscar</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer text-muted">
            Bitácora de Logs.
        </div>
        <div class="card-body" id="divTab">
            <table class="table" id="tablaLogs" style="height:50px; margin-bottom: 0rem;">
                <thead>
                    <tr class="table-primary">
                        <th scope="col" style="max-width:400px ; width:400px">Descripción</th>
                        <th scope="col" style="max-width:100px ; width:100px">Usuario</th>
                        <th scope="col" style="max-width:200px ; width:200px">Fecha</th>
                        <th scope="col" style="max-width:100px ; width:100px">Acción</th>
                    </tr>
                </thead>
            </table>
            <div id="divdet">
                @{
                    Html.RenderPartial("Detalle");
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnBuscar').click(function () {
        MostrarLoader();
        console.log("Datos: FechaIni " + inputFechaInicial.value + "fechaFin: " + inputFechaFinal.value);
        console.log("Datos: Accion " + accion.value + "Usuario: " + idUsuario.value);
        actualizarTablaLogs(inputFechaInicial, inputFechaFinal, accion, idUsuario)
        OcultarLoader();
    });

    function actualizarTablaLogs(inputFechaInicial, inputFechaFinal, accion, idUsuario) {
        console.log("Entra funcion actualizarTablaLogs ");

        $.ajax({
            type: "GET",
            url: "/Logs/actualizarTablaLogs",
            async: false,
            data: {
                tipo: 3, fechaIni: inputFechaInicial.value,
                fechaFin: inputFechaFinal.value,
                acc: accion.value,
                usu: idUsuario.value
            },
            success: function (viewHTML) {
                $("#divdet").empty;
                $("#divdet").html(viewHTML);
            },
            error: function (errorData) {

            }
        });

    }
</script>